@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors duration-500;
  }
  html.dark {
    color-scheme: dark;
  }
  html:not(.dark) {
    color-scheme: light;
  }
}
